+comment('general style')
body
  position: relative
+ic
.text-danger
  color: #e74c3c
  text-align: left
@each $ic in step1, step2, step3, step4, step5, step6
  .ic-#{$ic}
    +sb(#{$ic})
+comment("home page style")

+comment('section edge style')
.edge
  padding: 140px 0
  background: #fff url(../img/bg8.png) no-repeat scroll bottom center
.step
  margin: 38px 0
  &__icon
    margin-bottom: 45px
  &__descr
    font: 400 20px/30px 'PT Sans', sans-serif
    color: #1c1e20
