+rx(767)
  +comment("general style")
  .sub
    &-heading
      font: 700 24px/28px "MuseoSansCyrl", sans-serif
      padding: 0
      margin-bottom: 20px   
  +comment("header style")
  .navbar
    &-default
      padding-bottom: 0
      margin-bottom: 0
    &-toggle
      border: 0  
  .intro
    padding: 50px 0 40px
    margin: -66px 0 0
    background: transparent url(../img/bgheader320.png) no-repeat
    &__btn
      margin-bottom: 20px
  .heading
    font: 700 24px/36px 'MuseoSansCyrl', sans-serif   
    margin-bottom: 180px   
  .list
    &__item
      &--dark  
        font: 700 18px/20px "PT Sans", sans-serif
  .sale
    padding: 10px      
    background: transparent url(../img/bluebg.png) no-repeat
    +contain(top center)
    background-position: top center
    &__descr
      font: 700 14px/16px "PT Sans", sans-serif
  .countdown__item
    width: 75px   
  .wishes
    padding-top: 40px
    background-position: top center   
  .card
    &__img
      &:before
        +contain(top center)
        width: 300px 
        height: 240px
    &__text
      font: 400 18px/22px "PT Sans", sans-serif     
      text-align: center
  .review
    padding-top: 0
  .edge
    padding-top: 20px
  .cost
    margin-top: -40px
    background: transparent url(../img/pricebg.png) no-repeat top center   
  .faq
    &__question
      padding: 20px
      .fa
        margin-right: 5%
        float: left
        width: 10%
      &-text
        display: inline-block
        float: right   
        width: 85%  
    &__answer
      padding: 25px  
  .footer
    background: transparent url(../img/footer320.png) no-repeat top center   
    margin-bottom: 0
  .phone
    text-align: center
    &__number
      font: 700 16px/20px "PT Sans", sans-serif
